{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<body>
    <h1>Detalhes do Aluno {{ aluno.id }}</h1>

    <h2>Gabaritos</h2>
    <div class ="provas-lista">
    <ul>
        {% for gabarito in gabaritos %}
        <li>
            Prova {{ gabarito.prova.id }} – Leitura: {{ gabarito.leitura }}
        </li>
        {% empty %}
        <li>Nenhum gabarito encontrado.</li>
        {% endfor %}
    </ul>
    </div>

<a id="troca"  href="{% url 'home' %}">Voltar</a>

</body>
</html>
{% endblock %}